/* default dark theme 🫐🍋 */
html[data-theme="blueberry-lemon"] {
  --foreground-rgba: 237, 245, 236, 1;
  --background-rgba: 16, 7, 26, 1;
  --muted-100-rgba: 86, 40, 110, 1;
  --muted-200-rgba: 132, 71, 162, 1;
}
