/* neopolitan ice cream 🍥🍫 */
html[data-theme="neopolitan-ice-cream"] {
  --foreground-rgba: 84, 43, 35, 1;
  --background-rgba: 255, 245, 224, 1;
  --muted-100-rgba: 255, 204, 237, 1;
  --muted-200-rgba: 245, 135, 229, 1;
}
