/* default light theme 🍓🧋 */

html[data-theme="strawberry-matcha"] {
  --foreground-rgba: 16, 7, 26, 1;
  --background-rgba: 222, 240, 220, 1;
  --muted-100-rgba: 246, 215, 252, 1;
  --muted-200-rgba: 229, 157, 248, 1;
}
