@import 'tailwindcss';

@layer utilities {
  html.strawberry-matcha {
    --filter: grayscale(100%) url(#strawberry-matcha-gradient);
  }
  html.neopolitan-ice-cream {
    --filter: grayscale(100%) url(#neopolitan);
  }
  html.blueberry-lemon {
    --filter: grayscale(100%) url(#neon-lemon);
  }
}

@layer base {
  .GradientMap {
    filter: var(--filter);
  }
}
