@import 'tailwindcss';

@layer utilities {
  html {
    --filter: grayscale(100%) url(#strawberry-matcha-gradient);
  }

  html[data-theme='neopolitan-ice-cream'] {
    --filter: grayscale(100%) url(#neopolitan);
  }

  html[data-theme='blueberry-lemon'] {
    --filter: grayscale(100%) url(#neon-lemon);
  }

  html[data-theme='strawberry-matcha'] {
    --filter: grayscale(100%) url(#strawberry-matcha-gradient);
  }
}

@layer base {
  .GradientMap {
    filter: var(--filter);
  }
}
