/*
*
* Enhanced external links with favicons
*
 */

/* External links styling */
.external-link {
  display: inline;
  position: relative;
  color: var(--color-foreground);
  text-decoration-style: wavy;
  text-decoration-color: var(--color-muted-200);
  text-underline-offset: 2px;
  font-size: 1.2em;
  padding: -0.2em 0 0 0;
  font-family: var(--font-that-that-new-pixel), sans-serif;
  transition: all 0.2s ease;
  align-items: center;
}

.external-link:hover {
  font-style: italic;
  text-shadow: 0px 0px 1px var(--color-foreground);
}

/* Internal links styling */
.internal-link {
  text-decoration: underline;
  text-decoration-color: var(--color-muted-200);
  text-decoration-style: wavy;
  text-underline-offset: 2px;
  transition: all 0.2s ease;
}

.internal-link:hover {
  color: var(--color-link-underline-hover);
}
