@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* light/default theme 🍓🧋 */
@theme {
  --color-background: rgb(232 241 216);
  --color-foreground: rgb(39 56 33);
  --color-muted-100: rgb(246 215 252);
  --color-muted-200: rgb(229 157 248);

  --font-authentic-sans: 'Authentic Sans', sans-serif;
  --font-that-that-new-pixel: 'That That New Pixel', serif;
  --font-authentic-sans-condensed: 'Authentic Sans Condensed', sans-serif;
  --font-monaco: 'Monaco', monospace;

  --select-text-rgba: rgb(201, 133, 235, 1);
  --select-text-background-rgba: rgb(201, 133, 235, 0.25);

  --star-cursor: url("/cursors/small-star/0004.PNG"), auto;
}

@custom-variant strawberry-matcha (&.strawberry-matcha :where(& *));
@custom-variant blueberry-lemon (&.blueberry-lemon :where(& *));
@custom-variant neopolitan-ice-cream (&.neopolitan-ice-cream :where(& *));


@layer base {
  * {
    box-sizing: border-box;

    /* star cursor */
    cursor: url("/cursors/small-star/0004.PNG"), auto;
    -webkit-animation: starCursor 750ms infinite;
    animation: starCursor 750ms infinite;
  }

  /* themes */
  /* default light theme 🍓🧋 */
  html.strawberry-matcha {
    /* taro and matcha palette - https://www.color-hex.com/color-palette/1028107 */
    --color-background: rgb(232 241 216);
    --color-foreground: rgb(39 56 33);
    --color-muted-100: rgb(246 215 252);
    --color-muted-200: rgb(229 157 248);
  }

  /* default dark theme 🫐🍋 */
  html.blueberry-lemon, html.dark {
    --color-background: rgb(16 7 26);
    --color-foreground: rgb(235 241 215);
    --color-muted-100: rgb(86 40 110);
    --color-muted-200: rgb(150 87 181);
  }
  
  /* neopolitan ice cream 🍥🍫 */
  html.neopolitan-ice-cream {
    --color-background: rgb(255 245 224);
    --color-foreground: rgb(84 43 35);
    --color-muted-100: rgb(255 204 237);
    --color-muted-200: rgb(245 135 229);
  }

  html {
    padding: 0;
    margin: 0;
  }

  html,
  body {
    overscroll-behavior: none;
    overflow-x: hidden;
    @apply bg-background text-foreground;
  }

  a {
    color: inherit;
  }

  /* selection styles */
  ::selection {
    color: var(--select-text-rgba);
    background-color: var(--select-text-background-rgba);
  }

  ::-moz-selection {
    color: var(--select-text-rgba);
    background-color: var(--select-text-background-rgba);
  }

  /* scrollbar styles */
  body::-webkit-scrollbar {
    width: 1em;
  }

  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  /* star cursor animation */
  @-webkit-keyframes starCursor {
    0%,
    25% {
      cursor: url("/cursors/small-star/0001.PNG"), auto;
    }
    25%,
    50% {
      cursor: url("/cursors/small-star/0002.PNG"), auto;
    }
    50%,
    75% {
      cursor: url("/cursors/small-star/0003.PNG"), auto;
    }
    75%,
    100% {
      cursor: url("/cursors/small-star/0004.PNG"), auto;
    }
  }

  @keyframes starCursor {
    0%,
    25% {
      cursor: url("/cursors/small-star/0001.PNG"), auto;
    }
    25%,
    50% {
      cursor: url("/cursors/small-star/0002.PNG"), auto;
    }
    50%,
    75% {
      cursor: url("/cursors/small-star/0003.PNG"), auto;
    }
    75%,
    100% {
      cursor: url("/cursors/small-star/0004.PNG"), auto;
    }
  }

  /* star sparkle cursor animation */
  @-webkit-keyframes starSparkleCursor {
    0%,
    20% {
      cursor: url("/cursors/star-sparkle/0001.PNG"), auto;
    }
    20%,
    40% {
      cursor: url("/cursors/star-sparkle/0002.PNG"), auto;
    }
    40%,
    60% {
      cursor: url("/cursors/star-sparkle/0003.PNG"), auto;
    }
    60%,
    80% {
      cursor: url("/cursors/star-sparkle/0004.PNG"), auto;
    }
    80%,
    100% {
      cursor: url("/cursors/star-sparkle/0005.PNG"), auto;
    }
  }

  @keyframes starSparkleCursor {
    0%,
    20% {
      cursor: url("/cursors/star-sparkle/0001.PNG"), auto;
    }
    20%,
    40% {
      cursor: url("/cursors/star-sparkle/0002.PNG"), auto;
    }
    40%,
    60% {
      cursor: url("/cursors/star-sparkle/0003.PNG"), auto;
    }
    60%,
    80% {
      cursor: url("/cursors/star-sparkle/0004.PNG"), auto;
    }
    80%,
    100% {
      cursor: url("/cursors/star-sparkle/0005.PNG"), auto;
    }
  }

  /* star heart blast cursor animation */
  @-webkit-keyframes starHeartBlastCursor {
    0%,
    25% {
      cursor: url("/cursors/star-heart-blast/0001.PNG"), auto;
    }
    25%,
    50% {
      cursor: url("/cursors/star-heart-blast/0002.PNG"), auto;
    }
    50%,
    75% {
      cursor: url("/cursors/star-heart-blast/0003.PNG"), auto;
    }
    75%,
    100% {
      cursor: url("/cursors/star-heart-blast/0004.PNG"), auto;
    }
  }

  @keyframes starHeartBlastCursor {
    0%,
    25% {
      cursor: url("/cursors/star-heart-blast/0001.PNG"), auto;
    }
    25%,
    50% {
      cursor: url("/cursors/star-heart-blast/0002.PNG"), auto;
    }
    50%,
    75% {
      cursor: url("/cursors/star-heart-blast/0003.PNG"), auto;
    }
    75%,
    100% {
      cursor: url("/cursors/star-heart-blast/0004.PNG"), auto;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-paused {
    animation-play-state: paused;
  }

  .font-zoom {
    font-size: 120%;
  }

  .text-stroke-foreground-thin {
    -webkit-text-stroke: 1px var(--color-foreground);
  }

  .text-stroke-foreground-thick {
    -webkit-text-stroke: 3px var(--color-foreground);
  }

  .text-stroke-muted-thin {
    -webkit-text-stroke: 1px var(--color-muted-200);
  }

  .text-stroke-muted-thick {
    -webkit-text-stroke: 2px var(--color-muted-200);
  }

  .glow-text {
    text-shadow: 0px 0px 5px var(--color-muted-200);
  }

  .strawberry-matcha .blend-link,
  .neopolitan-ice-cream .blend-link {
    mix-blend-mode: multiply;
  }
}
