@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* light theme */
  :root {
    --foreground-rgba: 16, 7, 26, 1;
    --background-rgba: 252, 242, 252, 1;
    --muted-100-rgba: 246, 215, 252, 1;
    --muted-200-rgba: 235, 196, 248, 1;

    --highlight-font-rgba: 201, 133, 235, 1;
    --highlight-background-rgba: 201, 133, 235, 0.25;
  }
  /* dark theme */
  .dark {
    --foreground-rgba: 233, 223, 246, 1;
    --background-rgba: 16, 7, 26, 1;
    --muted-100-rgba: 86, 40, 110, 1;
    --muted-200-rgba: 132, 71, 162, 1;
  }

  /* *******************************************************************
  This cursor is from https://cur.cursors-4u.net/
  https://www.cursors-4u.com/cursor/2011/11/26/shiny-violet-star.html
  - Animated Cursor - https://cur.cursors-4u.net/symbols/sym-7/sym629.ani
  - Static Cursor - https://cur.cursors-4u.net/symbols/sym-7/sym629.png
  ******************************************************************* */
  * {
    box-sizing: border-box;
    cursor: url("https://cur.cursors-4u.net/symbols/sym-7/sym629.ani"), url("../../public/cursors/sym629.ani"), url("../../public/cursors/sym629.png"), auto !important;
  }

  html {
    padding: 0;
    margin: 0;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    color: inherit;
  }

  /* selection styles */
  ::selection {
      color: rgba(var(--highlight-font-rgba));
      background-color: rgba(var(--highlight-background-rgba));
  }

  ::-moz-selection {
      color: rgba(var(--highlight-font-rgba));
      background-color: rgba(var(--highlight-background-rgba));
  }

  /* scrollbar styles */
  body::-webkit-scrollbar {
    width: 1em;
  }

  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-paused {
    animation-play-state: paused;
  }

  .font-zoom {
    font-size: 120%;
  }
}
