@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 154, 89, 227;
    --background-rgb: 255, 233, 255;
  }

  .dark {
    --foreground-rgb: 233, 223, 246;
    --background-rgb: 16, 7, 26;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-rgb: 0, 0, 0;
    }
  } */


  * {
    box-sizing: border-box;
    cursor: url("https://cur.cursors-4u.net/symbols/sym-7/sym629.ani"), url("https://cur.cursors-4u.net/symbols/sym-7/sym629.png"), auto !important;
  }

  html {
    padding: 0;
    margin: 0;
  }

  body {
    /* color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb)); */
    @apply bg-background text-foreground;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ::selection {
    background-color: rgba(201, 133, 235, 0.5);
}

::-moz-selection {
    background-color: rgba(201, 133, 235, 0.5);
}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
